# Dependencies
node_modules

# Build output
dist
out

# VSCode
.vscode-test/
*.vsix

# Mac
.DS_Store

# BMAD methods
.bmad-core/
.clinerules/
.gemini/
.github/
.kilocode/
.kilocodemodes
docs_/


# tests
tests/

.gitignore

