.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.bmad-core/**
.clinerules/**
.gemini/**
.github/**
.kilocode/**
.idea/**
.kilocodemodes
.vsixmanifest

docs_/**
