body {
    padding: 0;
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    margin: 0;
}

.container {
    max-width: 100%;
    padding: 8px 12px;
}
