body {
    padding: 0;
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.container {
    max-width: 100%;
    padding: 4px 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}